$white:     hsl(0,0,87.5%);
$light:     hsl(0,0,75%);
$medium-lt: hsl(0,0,62.5%);
$medium:    hsl(0,0,50%);
$medium-dk: hsl(0,0,37.5%);
$dark:      hsl(0,0,25%);
$black:     hsl(0,0,12.5%);

$success:   hsl(126,32%,32%);
$failure:   hsl(360,32%,32%);

$box-shadow: 0 0 3rem $black;

$sans-serif:    'ITCConduit', 'Futura', 'Franklin Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif:         'Bulmer', 'Baskerville', 'Georgia', 'Times New Roman', serif;